/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

===================================
HEADER STYLES CSS
===================================
*
*/
/*
===================================
HEADER
===================================
*/

.header {

     &__title
     {
          margin: 0px;

          &--div
          {
               /* Animation */
               animation-name: moveInLeft;
               animation-duration: 1s;
               animation-timing-function: ease-out;
               color: white;
          }
          a
          {
               display: block;
               font-weight:500;
               letter-spacing: 5px;
               text-align: center;
               color: #FFF;
               margin: 0px;
          }
          a:hover
          {
               display: block;
               font-weight:500;
               letter-spacing: 5px;
               text-align: center;
               color: #F8F9F9;
               margin: 0px;
          }
     }
     &__description
     {
          letter-spacing: 5px;
          text-align: center;

          color: $color-orange;
          font-family: 'Rock Salt', cursive;
          font-weight: bold;
          word-wrap: break-word;
          &--div
          {
               animation-name: moveInRight;
               animation-duration: 1s;
               animation-timing-function: ease-out;
          }
     }


}

/* Define how we are going to put the background image */
.as-background
{
     background-position: center;
     background-size: cover;
     justify-content: center;
     background-color: black;
     padding: 0px;
     margin: 0px;

     &-tile
     {
          background-color: black;
          padding: 0px;
          margin: 0px;
     }
}



/*
===================================
HEADER
===================================

We create the clases for the fixed height of the header image div
*/
/* 600 o menos*/
@include respond(extra_small)
{
     @for $i from 4 through 10
     {
          .fixed-height-#{$i*10}
          {
               /* Loop */
               height: 40vh;
               & .header
               {
                    width: 100vw;
                    position: relative;

                    &__content
                    {
                         /* We place logo next to the title */
                         height: 40vh;
                         width: 100vw;
                         padding: 5vh;
                         top:auto;
                         $top: 50%;
                         $left: 50%;
                         $x: -50%;
                         $y: -50%;
                         @include centerBlock ($top , $left , $x , $y);


                         display: -webkit-flex; /* Safari */
                         -webkit-align-items: center; /* Safari 7.0+ */
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         flex-direction: column;

                         .header__logo--div
                         {
                              height: 65%;
                              top:auto;

                              .header__logo
                              {
                                   top:auto;
                                   max-height: 40vh;
                                   max-width: 50vw;
                                   width: auto;
                                   height: auto;
                                   display: inline-block;

                                   &--has-name
                                   {
                                        top:auto;
                                        max-height: 100%;
                                        height: 100%;
                                        width: auto;
                                        display: inline-block;

                                   }
                                   &--has-description
                                   {
                                        top:auto;
                                        max-height: 100%;
                                        height: 100%;
                                        width: auto;
                                        display: inline-block;

                                   }
                                   &--has-name-description
                                   {
                                        top:auto;
                                        height: 100%;
                                        width: auto;
                                        display: inline-block;

                                   }
                              }

                         }


                    }
                    &__info--div
                    {
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         top:auto;


                    }
                    &__title--div
                    {
                         text-align: left;
                         padding-left: 1.5vw;
                         height: auto;
                         & h1
                         {
                              font-size: 3rem;
                              line-height:normal;
                              display: inline;
                              vertical-align: bottom;

                              & a
                              {
                                   text-align:center;

                              }
                         }
                    }
                    &__description--div
                    {
                         text-align:center;
                         padding-left: 1.5vw;
                         width: 100%;
                         & h2
                         {
                              font-size: 1.5rem;
                              display: inline;
                              vertical-align: top;
                         }


                    }
               }




          }



     }
}
@include respond(small)
{
     @for $i from 4 through 10
     {
          .fixed-height-#{$i*10}
          {
               /* Loop */
               height: #{$i*10}vh;
               & .header
               {
                    @if ($i == 4)
                    {

                    }
                    @else
                    {
                         width: 100vw;
                    }
                    &__content
                    {
                         @if ($i == 4)
                         {
                              /* We place logo next to the title */
                              height: #{$i*10}vh;
                              width: 100vw;
                              position: relative;
                              $top: 50%;
                              $left: 50%;
                              $x: -50%;
                              $y: -50%;
                              @include centerBlock ($top , $left , $x , $y);


                              display: -webkit-flex; /* Safari */
                              -webkit-align-items: center; /* Safari 7.0+ */
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              flex-direction: row;


                         }
                         @else
                         {
                              position: relative;
                              height: #{$i*10}vh;

                              display: -webkit-flex; /* Safari */
                              -webkit-align-items: center; /* Safari 7.0+ */
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              flex-direction: column;
                         }
                         .header__logo--div
                         {
                              @if ($i == 4)
                              {
                                   height: 65%;
                              }
                              @else
                              {
                                   height: 80%;
                                   position: relative;
                              }

                              .header__logo
                              {
                                   @if ($i == 4)
                                   {
                                        /* We place logo next to the title */
                                        max-height: 100%;
                                        width: auto;
                                        height: auto;
                                        display: inline-block;
                                   }
                                   @else
                                   {
                                        height: auto;
                                        max-height: #{($i*10)-($i*2.5)}vh;
                                        width: auto;
                                        $top: 50%;
                                        $left: 50%;
                                        $x: -50%;
                                        $y: -50%;
                                        @include centerBlock ($top , $left , $x , $y);
                                   }
                                   &--has-name
                                   {
                                        @if ($i == 4)
                                        {
                                             height: 100%;
                                             width: auto;
                                             display: inline-block;
                                        }
                                        @else
                                        {
                                             /* Image Class */
                                             height: auto;
                                             max-height: #{($i*10)-($i*3)}vh;
                                             width: auto;
                                             $top:  50%;
                                             $left: 50%;
                                             $x: -50%;
                                             $y: -50%;
                                             @include centerBlock ($top , $left , $x , $y);

                                        }

                                   }
                                   &--has_description
                                   {
                                        @if ($i == 4)
                                        {
                                             height: 100%;
                                             width: auto;
                                             display: inline-block;
                                        }
                                        @else
                                        {
                                             /* Image Class */
                                             height: auto;
                                             max-height: #{($i*10)-($i*3)}vh;
                                             width: auto;
                                             $top:  50%;
                                             $left: 50%;
                                             $x: -50%;
                                             $y: -50%;
                                             @include centerBlock ($top , $left , $x , $y);
                                             margin-bottom: 1vh;

                                        }

                                   }
                                   &--has-name-description
                                   {
                                        @if ($i == 4)
                                        {
                                             height: 100%;
                                             width: auto;
                                             display: inline-block;
                                        }
                                        @else
                                        {
                                             /* Image Class */
                                             height: auto;
                                             max-height: #{($i*10)-($i*3.5)}vh;
                                             width: auto;
                                             $top:  50%;
                                             $left: 50%;
                                             $x: -50%;
                                             $y: -50%;
                                             @include centerBlock ($top , $left , $x , $y);
                                        }

                                   }
                              }

                         }


                    }
                    &__info--div
                    {
                         @if ($i == 4)
                         {
                              /* We place logo next to the title */
                              float:right;
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                         }
                         @else
                         {
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                         }


                    }
                    &__title--div
                    {
                         @if ($i == 4)
                         {
                              text-align: left;
                              padding-left: 1.5vw;
                              height: auto;
                              & h1
                              {
                                   font-size: #{($i/2)}rem;
                                   line-height:normal;
                                   display: inline;
                                   vertical-align: bottom;

                                   & a
                                   {
                                        text-align: left;

                                   }
                              }

                         }
                         @else
                         {
                              & h1
                              {
                                   text-align: center;
                                   font-size: #{($i/2)}rem;
                                   line-height: #{($i/2)}rem;

                              }
                         }
                    }
                    &__description--div
                    {
                         @if ($i == 4)
                         {
                              text-align: left;
                              padding-left: 1.5vw;
                              width: 100%;
                              & h2
                              {
                                   font-size: #{($i/4)}vw;
                                   display: inline;
                                   vertical-align: top;
                              }
                         }
                         @else
                         {
                              & h2
                              {
                                   font-size: #{($i/4)}rem;
                                   line-height: #{($i/4)}rem;
                              }
                         }


                    }
               }




          }



     }
}
