/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	===================================
		HEADER STYLES CSS
	===================================
*
*/
/*
     ===================================
          HEADER
     ===================================
*/

.header {
     width: 100vw;
     position: relative;

     &__content
     {
          width: 100%;
          position:absolute;
          top:50%;
          left: 50%;
          transform: translate( -50% , -50%);
          text-align: center;

     }


}

/* Define how we are going to put the background image */
.as_background
{
     background-position: center;
     background-size: cover;
     justify-content: center;
     background-color: black;
     padding: 0px;
     margin: 0px;

     &_tile
     {
          background-color: black;
          padding: 0px;
          margin: 0px;
     }
}


.header-site-logo-div
{
     text-align: center;
     display: inline-block;
}
.header-site-info-div
{
     display: inline-block;
     max-width: 100%;
     width: 100%;
     backface-visibility: hidden;
}
.header-site-title-div
{
     display: inline-block;
     max-width: 100%;
     width: 100%;
     margin: 0px;
     /* Animation */
     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-timing-function: ease-out;
}
.header-site-title
{
     margin: 0px;
}
.header-site-title a
{
     display: block;
     font-weight:500;
     letter-spacing: 5px;
     text-align: center;
     color: white;
     margin: 0px;
}

.header-site-description-div
{
     display: inline-block;
     max-width: 100%;
     width: 100%;
     animation-name: moveInRight;
     animation-duration: 1s;
     animation-timing-function: ease-out;
}
.header-site-description
{
     letter-spacing: 5px;
     text-align: center;

     color: orange;
     font-family: 'Rock Salt', cursive;
     font-weight: bold;
     word-wrap: break-word;
}


.header-site-logo
{

}

/*
     ===================================
          HEADER
     ===================================

We create the clases for the fixed height of the header image div
*/

.fixed-height-auto {
     max-height: 75%;
     max-width: 75%;
}
.fixed-height-40 {
  height: 40vh;
}

.fixed-height-50 {
  height: 50vh;
}
.fixed-height-50 .header-site-logo.has_site_name {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-50 .header-site-logo.has_site_description {
     max-height: 45vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-50 .header-site-logo.has_site_name_description {
     max-height: 35vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-50 .header-site-title {
}
.fixed-height-50 .header-site-description {
}

.fixed-height-60 {
  height: 60vh;
}
.fixed-height-60 {
     height: 70vh;
}
.fixed-height-60 .header-site-logo {
     height: 75%;
}
.fixed-height-60 .header-site-logo.has_site_name {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-60 .header-site-logo.has_site_description {
     max-height: 45vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-60 .header-site-logo.has_site_name_description {
     max-height: 35vh;
     max-width: 75%;
     width: auto;
     height: auto;
}
.fixed-height-60 .header-site-title {
}
.fixed-height-60 .header-site-description {
}

.fixed-height-70 {
     height: 70vh;
}
.fixed-height-70 .header-site-logo {
     max-height: 75%;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-70 .header-site-logo.has_site_name {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-70 .header-site-logo.has_site_description {
     max-height: 45vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-70 .header-site-logo.has_site_name_description {
     max-height: 35vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-70 .header-site-title {
}
.fixed-height-70 .header-site-description {
}


.fixed-height-80 {
     height: 80vh;
}
.fixed-height-80 .header-site-logo {
     max-height: 75vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-80 .header-site-logo.has_site_name {
     max-height: 65vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-80 .header-site-logo.has_site_description {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-80 .header-site-logo.has_site_name_description {
     max-height: 45vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-80 .header-site-title {
     font-size: calc(15px + 2vw + 2vh);
}
.fixed-height-70 .header-site-description {
}



.fixed-height-90 {
     height: 90vh;
}
.fixed-height-90 .header-site-logo {
     max-height: 85vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-90 .header-site-logo.has_site_name {
     max-height: 75vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-90 .header-site-logo.has_site_description {
     max-height: 65vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-90 .header-site-logo.has_site_name_description {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-90 .header-site-title {
     font-size: calc(15px + 2.5vw + 2.5vh);
}
.fixed-height-90 .header-site-description {
}

.fixed-height-100 {
     height: 100vh;
}
.fixed-height-100 .header-site-logo {
     max-height: 85vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-100 .header-site-logo.has_site_name {
     max-height: 75vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-100 .header-site-logo.has_site_description {
     max-height: 65vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-100 .header-site-logo.has_site_name_description {
     max-height: 55vh;
     max-width: 75%;
     width: auto;
   height: auto;
}
.fixed-height-100 .header-site-title
{
     font-size: calc(15px + 3vw + 3vh);
}
.fixed-height-100 .header-site-description {
     font-size: calc(5px + 2vw + 2vh);
}



  /* For small screen we remove the height and make it fit the image */

  .fixed-height-30,
  .fixed-height-40,
  .fixed-height-50,
  .fixed-height-60,
  .fixed-height-70,
  .fixed-height-80,
  .fixed-height-90,
  .fixed-height-100 {
    max-width: 100vw;
  }

  .header-site-logo {
    /* max-width:50%; */
    border-radius: 50% !important;
  }
}
