/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		ALL CONTENT CSS
	===================================
* Style Sheet for all classes used in the content part.
*
*/
/* The tag that contains all the the content */
main
{

}
/* The id of the main */
#wrap
{
	width: 100%;
}
.content
{

}
.the_content
{

}
.read-more-results
{

}

article
{
     max-width: 100%;
     margin: 10px;
     padding: 10px;
	background-color: white;
     border: solid 3px red;
}
.the_date
{

}
.the_title
{
	word-wrap: break-word !important;;
}
section
{

}
.entry
{
     max-width: 100%;
	background-color: yellow;
}

.entry img
{
	max-width: 100% !important;
	height: auto;
}
