/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		ALL HEADER CSS
	===================================
* Style Sheet for all classes used in the header.
*
*/
/* The container of all the header elements */
header
{

}
h1
{
     font-size: 30px;
}
h2
{
     font-size: 20px;
}
h3
{
     font-size: 15px;
}
/* the div that contains the header image */
.header-img
{
     padding: 0px;
     border: 0px;
}
.header-img img
{
     display: block;
     max-width:100%;
     width: auto;
     height: auto;
}

/* The id of the nav tag that contains the top navigation bar */
#theme_location_top_nav
{

}
/* The part of the navigation bar that contains the elements */
#theme_location_top_target
{

}
     /* The logo Item */
     .navbar-logo img
     {
          width: 200px;
          height: auto;
     }
     #theme_location_top_target > ul
     {

     }
     #theme_location_top_target > ul > li
     {

     }

/* The id of the tag that contains the main navigation bar */
#theme_location_main
{

}
     #theme_location_main > ul
     {

     }
     #theme_location_main > ul > li
     {

     }

/* The breadcrumbs */
     .my-breadcrumbs
     {

     }
     .breadcrumb
     {
          font-size: 10px;
     }
     .breadcrumb-item::before
     {
         font-family: 'FontAwesome';
         color: grey !important;
         content: "\f101" !important;
     }
