/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		ALL BODY CSS
	===================================
* Style Sheet for all classes used in the body part.
*
*/

/* The container of all the body elements */
body, html {
	height: 100%;
     margin: 0;
	font-size: 14px;
	line-height: 1.6em;
}
div
{

}
article
{
	background-color: red;
}
section
{
	background-color: blue;
}
.entry
{
	background-color: yellow;
}
p
{
	background-color: orange;
}
a, a:hover, a:active
{
	text-decoration: none;
}
img
{
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
/* The bs-fixed-nav class is set when there is options['nav-menu'] is set and is true*/
body.bs-fixed-nav
{
     margin: 0px;
     padding: 0px;
}


body.bs-fixed-nav nav.theme_location_top
{
	/* overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	width: 100%;
     margin: 0px;
     padding: 10px;
     border: 0px;
	z-index: 1020; */

	position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 1020;

}
body.bs-fixed-nav nav.theme_location_main
{
	/* overflow: hidden;
	position: fixed;
	top: 100;
	width: 100%;
	width: 100%;
     margin: 0px;
     padding: 10px;
     border: 0px;
	z-index: 1020; */

	position: -webkit-sticky;
	position: sticky;
	top: 54px;
	z-index: 1019;

}
/* The wrap div contains all the header and contant part */
#wrap
{
	max-width: 100%;
}
.entry
{
	content: "";
	display: table;
	max-width: 100% !important;
}
.entry img
{
	max-width: 100% !important;
	height: auto;
}
.wp-caption[style]
{
	max-width: 100% !important;
}
