/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		ALL HEADER CSS
	===================================
* Style Sheet for all classes used in the header.
*
*/
/* The container of all the header elements */
header
{

}
h1
{
     font-size: 25px;
}
h2
{
     font-size: 20px;
}
h3
{
     font-size: 15px;
}
/* the div that contains the header image */
.header-img
{
     padding: 0px;
     border: 0px;
}
.header-img img
{
     display: block;
     max-width:100%;
     width: auto;
     height: auto;
}
.as_background
{
     /* The image used */
     background-image: url("img_girl.jpg");
     /* Full height */
     height: 50%;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
/* The id of the nav tag that contains the top navigation bar */
#theme_location_top_nav 
{
     margin: 0px;
     padding: 0px;
     border: 0px;
     background-color: black;
}

/* The part of the navigation bar that contains the elements */
#theme_location_top_target
{
     margin: 0px;
     padding: 0px;
     border: 0px;
}

     #theme_location_top_target li
     {
     }
     #theme_location_top_target a
     {
     }
     #theme_location_top_target h1
     {
          font-size: 25px;
     }
     #theme_location_top_target > ul
     {

     }
     #theme_location_top_target > ul > li
     {

     }
     #theme_location_top_target > ul > li:hover
     {
     }

/* The id of the tag that contains the main navigation bar */
#theme_location_main
{

}
     #theme_location_main > ul
     {

     }
     #theme_location_main > ul > li
     {

     }

/* The breadcrumbs */
     .my-breadcrumbs
     {

     }
     .breadcrumb
     {
          font-size: 10px;
     }
     .breadcrumb-item::before
     {
         font-family: 'FontAwesome';
         color: grey !important;
         content: "\f101" !important;
     }
