/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	===================================
		BODY STYLES CSS
	===================================
*
*/
/* The container of all the body elements */
body, html {
     margin: 0;
	font-size: 14px;
	line-height: 1.6em;
}
.custom-background
{
     background-image:none !important;
}
/* The bs-fixed-nav class is set when there is options['nav-menu'] is set and is true*/
body.bs-fixed-nav
{
     margin: 0px;
     padding: 0px;
     padding-top: 0px !important;
}
body.bs-fixed-nav nav.theme_location_top
{}
body.bs-fixed-nav
{

}
/*
     ===================================
          SIDEBARS
     ===================================
*/
.sidebar
{}
/* Class of the left side bar */
.body-left-sidebar
{}
     .body-left-sidebar > ul
     {}
/* Class of the right side bar */
.body-right-sidebar
{
     display: block;
}
     .body-right-sidebar > ul
     {}
.wp-caption[style]
{
	max-width: 100% !important;
}
.body-left-sidebar
{
     visibility: hidden;
     display: block;
}
/*
	===================================
		TAGS
	===================================
*/
div
{}
section
{
	background-color: blue;
}

p
{
	background-color: orange;
}
a, a:hover, a:active
{
	text-decoration: none;
}
img
{
     // width: 100%;
     // height: auto;
	// object-fit: contain;
}
h1
{
     font-size: 25px;
}
h2
{
     font-size: 20px;
}
h3
{
     font-size: 15px;
}
.entry
{
     max-width: 100%;
	background-color: yellow;
}

.entry img
{
	max-width: 100% !important;
	height: auto;
}
.media
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: DodgerBlue;
}
.media > p {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 100% !important;
  margin: 10px;
}
/*
	===================================
		LOAD MORE
	===================================
*/
.load-more-span-div
{
     margin: 10px;
}
.load-more-span-a
{
     font-weight: bold;
     font-size: 12px;
     padding-right: 5px;
     color: white !important;
     background-color: #101010;
}
.load-more-span-a:hover
{
     /* box-shadow: orange 0px 1px 5px 0px; */
     color: orange !important;
}
/*
	===================================
		READ MORE
	===================================
*/
#wrap
{
	width: 100%;
}
#wrap .the_content
{

}
.read-more-results
{
     display: flex;
     text-align: left;
     flex-wrap: wrap;
     justify-content: center;
}
.read-more-results > article {
     width: 200px;
     max-height: 250px;
     margin: 5px;
     padding: 5px;
     background-color: white;
     border: solid 1px red;
}
.read-more-results > article > the_date
{
     font-size: 14px;
}
/*
	===================================
		SHOW / HIDE
	===================================
*/
.show_element
{
     visibility: visible;
}
.hide_element
{
     visibility: hidden;
}

/*
	===================================
		CONTAINER
	===================================
*/
#wrap
{
     text-align: center;
}
#wrap .row
{
     width: 100%;
     /* max-width: 900px; */
     display: inline-block;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*
	===================================
		POST PARTS
	===================================
*/

.the_title
{
	word-wrap: break-word !important;;
}
.the_date
{

}
.content
{

}
.the_content
{

}
.read-more-results
{

}
/*
===================================
     HEADER
===================================
*/
header
{
     width: 100vw;
}
.header-img
{
     padding-top: 0px;
}
.as_background
{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-sizing: content-box;
     width: 100vw;

}
/* Header site-logo */
     .header-site-logo-div
     {
          display: flex;
          align-items: center;
          align-self:center;
     }
     .header-site-logo
     {
          align-items: center;
     }
/*  We create the clases for the fixed height of the header image div */
     .fixed-height-40
     {
          height: 40vh;
     }
     .fixed-height-40 img
     {
          height:25vh;
     }
     .fixed-height-50
     {
          height: 50vh;
     }
     .fixed-height-50 img
     {
          height:35vh;
     }
     .fixed-height-60
     {
          height: 60vh;
     }
     .fixed-height-60 img
     {
          height:45vh;
     }
     .fixed-height-70
     {
          height: 70vh;
     }
     .fixed-height-70 img
     {
          height:55vh;
     }
     .fixed-height-80
     {
          height: 80vh;
     }
     .fixed-height-80 img
     {
          height:70vh;
     }
     .fixed-height-90
     {
          height:90vh;
     }
     .fixed-height-90 img
     {
          height:75vh;
     }
     .fixed-height-100
     {
          height: 100vh;
     }
     .fixed-height-100 img
     {
          height:80vh;
     }
.header_siteinfo
{
     align-content: center;
     justify-content: center;
     display:flex;
     max-width: 100%;
     max-height: 100%;
}
/*
===================================
     NAVIGATION BAR
===================================
*/
     .hamburger
     {
         position: relative;
         display: inline-block;
         width: 20px;
         height: 20px;
         margin-right: 1px;
         border-top: 0.2em solid #fff;
         border-bottom: 0.2em solid #fff;
     }

     .hamburger:before
     {
         content: "";
         position: absolute;
         top: 0.3em;
         left: 0px;
         width: 100%;
         border-top: 0.2em solid #fff;
     }
     .navbar-toggler .collapsed
     {
          /* height: 40px; */
     }


     /* The id of the tag that contains the main navigation bar */
     #theme_location_main
     {
     }
          #theme_location_main > ul
          {

          }
          #theme_location_main > ul > li
          {

          }

     .admin_bar_showing
     {
          margin-top: 15px !important;
     }
