/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	===================================
		HEADER STYLES CSS
	===================================
*
*/
/* Try to center the divs */
header
{

}
/* Start from the top to the bottom */
.parallax_effect
{
     /* min-height: 500px; */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.as_background
{
     background-position: center;
     background-size: cover;
     justify-content: center;
     background-color: black;

     padding: 0px;
     margin: 0px;
}
.as_background picture
{
     height: auto;
     width: auto;
     padding: 0px;
     margin: 0px;
}
.header-img
{

}
.header_siteinfo
{
}
.header-img img
{
}
.header-site-logo-div
{
     margin-top: 40px;
     display: block;
     text-align: center;
}

.header-site-title a
{
      font-size: 50px;
     color: white;
     line-height: normal;
}

.header-site-description
{
     color: orange;
     font-family: 'Rock Salt', cursive;
     font-weight: bold;
     /* font-size: 25PX; */
     word-wrap: break-word;

}

/* Small devices (landscape phones, 576px and up) */
@media ( max-width: 766px )
{
     .header-site-logo-div
     {

     }
     .header_siteinfo
     {

     }
     .header-food-image-div
     {
          text-align: center;

     }
     /* For small screen we remove the height and make it fit the image */
     .fixed-height-30, .fixed-height-40, .fixed-height-50, .fixed-height-60, .fixed-height-70, .fixed-height-80, .fixed-height-90, .fixed-height-100
     {
          max-width: 100vw;
     }
     .header-site-logo
     {
          /* max-width:50%; */
          border-radius: 50% !important;
     }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
     .fixed-height-auto
     {
     	max-width:100% !important;
     	max-height:100% !important;
     }
     .fixed-height-auto .header-site-logo
     {
     	max-width:25%;
     	max-height:50%;
          border-radius: 50% !important;
     }
     .fixed-height-auto .header_siteinfo
     {
     	height:auto;
     }
     .fixed-height-auto .header-site-title a
     {
     	line-height: 12px;
     	font-size: 40px !important;
     }
     .fixed-height-auto .header-site-description
     {
     	line-height: 12px;
     	font-size: 20px !important;
     }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{ }
