/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		ALL BODY CSS
	===================================
* Style Sheet for all classes used in the body part.
*
*/

/* The container of all the body elements */
body, html {
     margin: 0;
	font-size: 14px;
	line-height: 1.6em;
}

div
{}

section
{
	background-color: blue;
}

p
{
	background-color: orange;
}
a, a:hover, a:active
{
	text-decoration: none;
}
img
{
     width: 100%;
     height: auto;
	object-fit: contain;
}
/* The bs-fixed-nav class is set when there is options['nav-menu'] is set and is true*/
body.bs-fixed-nav
{
     margin: 0px;
     padding: 0px;
	padding-top: 50px;
}
body.bs-fixed-nav nav.theme_location_top
{}
/*
     ===================================
          CONTENT SIDEBARS CSS
     ===================================
*/
/* Class that containg the side bars */
.sidebar
{}
/* Class of the left side bar */
.body-left-sidebar
{}
     .body-left-sidebar > ul
     {}
/* Class of the right side bar */
.body-right-sidebar
{}
     .body-right-sidebar > ul
     {}
.wp-caption[style]
{
	max-width: 100% !important;
}

/* Show or hide elements */
.show_element
{
     visibility: visible;
}
.hide_element
{
     visibility: hidden;
}
