@keyframes moveInLeft {
     /* Start fo the animation */
     0%{
          opacity: 0;
          transform: translateX(-10.0rem);
     }
     /* Middle steps */
     80%{
          transform: translateX(1.0rem);
     }
     /* End of the animation */
     100%{
          opacity: 1;
          transform: translateX(0);
     }
}
@keyframes moveInRight {
     /* Start fo the animation */
     0%{
          opacity: 0;
          transform: translateX(10.0rem);
     }
     /* Middle steps */
     80%{
          transform: translateX(-1.0rem);
     }
     /* End of the animation */
     100%{
          opacity: 1;
          transform: translateX(0);
     }
}
@keyframes moveInBottom {
     /* Start fo the animation */
     0%{
          opacity: 0;
          transform: translateY(3.0rem);
     }
     /* End of the animation */
     100%{
          opacity: 1;
          transform: translateY(0);
     }
}
