/* Basic reset */
/* Make every brower render the page the same way */
/* Universal selector */
*,
*::after,
*::before{
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}
/* Set the font - Inherited */
html {
     /* Default font size is 16px */
     font-size: 62.5%; //1 rem - 10px
     @include respond(phone)
     {
          font-size: 50%;
     }
     @include respond(tab-por)
     {
          font-size: 50%; //1rem = 8px
     }
     @include respond(tab-land)
     {
          font-size: 56.26%; //1rem = 9px
     }
     @include respond(big-desktop)
     {
          font-size: 50%;
     }
     }
}
body
{
     box-sizing: border-box;
}
