/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		HEADER STYLES CSS
	===================================
*
*/
/* Start from the top to the bottom */
.as_background
{
     background-repeat: repeat;
     background-size:auto;
}
.header-img
{
     background-color: black;
     overflow: hidden;
     display: table;
}
.header_siteinfo
{
     max-height: 100%;
}
.header-img img
{
}

.header-site-logo
{
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     max-height: 75%;
     max-width: 75%;


}
.header-site-title a
{
     font-size: 75px;
     color: white;
}
.div-header-site-description
{
     
}
.header-site-description
{

     font-family: 'Rock Salt', cursive;
     font-weight: bold;
     font-size: 45px;
     color: #white;

}
