/*

@package WordPress
@subpackage wpTheme
@since wpTheme

	===================================
		HEADER STYLES CSS
	===================================
*
*/
/* Start from the top to the bottom */
.as_background
{
     background-repeat: repeat;
     background-size:auto;
}
.header-img
{
     background-color: black;
     overflow: hidden;
     display: block;
}
.header_siteinfo
{
     background-color: orange;
     max-height: 100%;
}
.header-img img
{
     max-height: 75%;
}

.header-site-logo
{
     border-radius: 50% !important;
}
.header-site-title a
{
     font-size: 75px;
     color: white;
}
.header-site-description
{
     font-size: 45px;
     color: #d6d963;
     font-size: 25px;
}
