/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	=============================
		SUB CAT NAVIGATION BAR
	=============================
*
* Set the styles for the top navigation bar
*
*/
/* The class of the div that contains the dropdownbuttown */
/* Normal */
     .sub-cat-div
     {
          color: white;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          margin-top: 15px;
          margin-bottom: 15px;
     }
     .sub-cat-button
     {
          background-color: #101010;
          color: #F5F5F5;
          margin:10px;
          text-transform: capitalize;
     }
     .sub-cat-button span
     {
          font-weight: bold;
          font-size: 12px;
          padding-right: 5px;
          border-right: 1px solid orange;
     }
     .sub-cat-button::after
     {
          color:orange;
     }
     .sub-cat-button:hover
     {
          color:orange;
     }
     .sub-cat-button:focus
     {
          box-shadow: 0 0 0 0rem;
     }
     .sub-cat-menu
     {
          padding: 0px;
     }
     .sub-cat-menu .dropdown-item
     {
          color: #101010;
          background-color: red;
          font-size: 12px;
          padding-left: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
     }
     .sub-cat-menu .dropdown-divider
     {
          margin: 0px;
          line-height:auto;
     }
