/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	=============================
		SUB CAT NAVIGATION BAR
	=============================
*
* Set the styles for the top navigation bar
*
*/
/* The class of the div that contains the dropdownbuttown */
/* Normal */
     .sub-cat-div
     {
          color: white;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          border-radius: 5px;
          border: solid;
          margin-top: 15px;
          margin-bottom: 15px;
     }

     .sub-cat-div div
     {
          border-radius: 5px;
          background-color: #262626;
          margin: 2px;
          cursor: pointer;

     }
     .dropdown-header
     {
          padding: 5px;

     }
     .dropdown-header .dropdown-title
     {
          padding-right: 5px;
          color: white;
          font-size: 12px;
          line-height: 1.6em;
          font-weight: 500;
     }
     .dropdown-header .dropdown-button
     {
          padding-left: 5px;
          text-align: center;
          border-left: 1px solid;
          border-color: orange;
     }
/* Hover */
.dropdown-header:hover
{
     box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
     color: orange;
}
.dropdown-content
{
     position: fixed;
     width: 100%;
     z-index: 1030;
}
