/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	=============================
		SUB CAT NAVIGATION BAR
	=============================
*
* Set the styles for the top navigation bar
*
*/
/* The class of the div that contains the dropdownbuttown */
/* Normal */
     .sub-cat-div
     {
          color: white;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          margin-top: 15px;
          margin-bottom: 15px;
     }
