/*

@package WordPress
@subpackage wpChildTheme
@since wpTheme

	==========================
		TOP NAVIGATION BAR
	==========================
*
* Set the styles for the top navigation bar
*
*/

#theme_location_top_nav
{
     height: 50px;
     background-color: transparent;
}
     #theme_location_top_nav button
     {
          margin-left: 10px;
     }
     #theme_location_top_nav a
     {
          color: #808080;

     }


/* The part of the navigation bar that contains the elements */
#theme_location_top_target
{
     margin: 0px;
     padding: 0px;
     border: 0px;
     background-color: transparent;
}
     #theme_location_top_target li
     {
     }
     #theme_location_top_target a
     {
          color: #F5F5F5;
          width: 100px;
          text-align: center;
          font-weight: 500;
          text-shadow: 2px 2px 4px #000000;

     }
     #theme_location_top_target a:hover
     {
          color: orange;
          text-shadow: 1px 1px 1px #000000;

     }
     #theme_location_top_target h1
     {
          font-size: 25px;
     }
     #theme_location_top_target > ul
     {

     }
     #theme_location_top_target > ul > li
     {

     }
     #theme_location_top_target > ul > li:hover
     {
     }
     .top_navbar_logo
     {
          object-fit: cover;
          width: 35px;
          height: auto;
     }
     .navbar-logo
     {
          margin-left: 14px;
     }

/* The id of the tag that contains the main navigation bar */
#theme_location_main
{

}
     #theme_location_main > ul
     {

     }
     #theme_location_main > ul > li
     {
     }
     /* Change the color of the Togler button */
     .navbar-toggler
     {
          border-color: orange;
          background-color: black;
     }
     .navbar-toggler-icon
     {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
     }
     /* change the color of the burger */
     .hamburger
     {
          border-top: 0.2em solid orange;
          border-bottom: 0.2em solid orange;
     }

     .hamburger:before
     {

          border-top: 0.2em solid orange;
     }
/* We add the class that will change the color when the bar crossed the header image */
.topNav_afterHeaderImage
{
     background-color: black !important;
}
@media ( max-width: 766px )
{

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{

}



}
