//Screen Sizses
$phone_size: 37.5em; //600px
$tab_port: 56.25em; //900px
$tab_land: 75em; //1200px
$big_desktop: 112.5em; //1800px

//Custom Sizes
/* Based on the font of 16px */
$extra_small: 12.5em; //200px
$small: 37.5em; //600px
$medium: 56.25em; //900px
$large: 75em; //1200px
$extra_large: 112.5em; //1800px

//Colors
$color-white: #F5F5F5;
$color-light-grey: #D3D3D3;
$color-middle-grey: #808080;
$color-dark-grey: #404040;
$color-black: #000000;

$color-orange: #FFBB00;
$testing-color-1: red;
